body {
  width: 50%;
  margin: 40px auto;
  background: rgb(135, 206, 235);
  color: rgb(255, 255, 255);
  border: 6px solid rgb(72 ,205 ,49);
}

/* main */
main,
footer {
  margin: 0 auto;
  padding: 20px 60px;
}

h1, nav {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

/* header nav */

nav ul {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

nav ul li {
  list-style: none;
}

nav ul a {
  margin-left: 7px;
  color: inherit;
  text-decoration: none;
}

/* creating the separation bar */

nav ul a::after {
  content: "|";
  margin-left: 7px;
  color: rgb(128, 137, 140);
}

nav ul li:last-child a::after {
  content: none;
}

nav ul a:hover {
  color: rgb(72 ,205 ,49);
  text-decoration: underline;
}

div img {
  display: block;
  float: right;
  padding: 20px;
}

p {
  font-size: 24px;
  text-wrap: wrap;
}

/* Footer nav */

footer {
  padding: 20px;
}

footer nav ul a {
  color: rgb(72 ,205 ,49);
}